STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  IDS_INI,  "GrpIcon.INI"
  IDS_CONFIG, "Config"
  IDS_ICONS, "Icons"
  IDS_VERSIONTAG, "Version"
  IDS_ICODIRTAG,  "Icon Dir"
  IDS_BMPDIRTAG,  "WallPaper Dir"
  IDS_REGNAMETAG,  "Owner"
  IDS_REGNUMTAG,  "Number"
  IDS_EMSDETECTED,  "Real Mode EMS Detected!"
  IDS_NOREALMODEEMS,  "GrpIcon cannot run in Real Mode with Expanded Memory!"
  IDS_FATALERROR,  "Fatal Error!"
  IDS_INIMEMERROR,  "Not enough contiguous memory to open GrpIcon.INI!"
  IDS_ERROR,  "GrpIcon Error!"
  IDS_ICONTABLEFULL,  "Icon Table full!\015Cannot read in any more icons."
  IDS_ICONTABLEMEMERROR,  "Memory error loading Icon Table!\nCannot read in any more icons."
  IDS_REGERROR,  "Registration Error!"
  IDS_NOREGNAME,  "You didn't enter your name!"
  IDS_BADREGNUM,  "Bad Registration number!"
  IDS_WRONGREGNUM,  "Incorrect Registration Number!"
  IDS_ABORTREG,  "Please call Kenny at (617) 536-6946\nfor your registration number."
  IDS_LIVELONG, "Live long and prosper!"
  IDS_THANKYOU, "Thank you for registering with New World Software!"
  IDS_NASTY, "It's not nice to cheat poor starving Programmers!"
END
